@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Open+Sans+Condensed:300|PT+Sans:400,700|Playfair+Display&display=swap");
@import "variables";
@import "reset";
@import "grid";
@import "Global";
@import "Header";
@import "TopImg";
@import "OurStory";
@import "SpecialMenu";


//Display fonts
// font-family: 'Playfair Display', serif;
// font-family: 'DM Serif Display', serif;
//Text fonts
// font-family: 'PT Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;


// body {
//   line-height: 1;
//   background: white;
// }

// ol,
// ul {
//   list-style: none;
// }

// blockquote,
// q {
//   quotes: none;
// }

// blockquote:after,
// blockquote:before,
// q:after,
// q:before {
//   content: '';
//   content: none;
// }

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

body {
  font-family: $textFont;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
